<div id="login-container">
  <% if @errors %>
  <%=   @errors.each { |error| error } %>
  <% end %>

  <form id="login-form" action="/sessions" method="POST">
    <label for="email">Email:</label>
    <input type="text" name="email" placeholder="Email:">
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Password:">
    <input type="submit" value="Login">
  </form>
</div>
