html {
  min-height: 100%;
  font-family: "Montserrat", serif;
  font-weight: bold;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/water-life-crop.jpg");
}

/*#main-container:after {
  content: "";
  display: block;
  height: 80px;
}*/

#main-data-container {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 90%;
  transform: translate(-50%, -50%);
}

.button {
  -moz-box-shadow:inset 0px 1px 3px 0px #274352;
  -webkit-box-shadow:inset 0px 1px 3px 0px #274352;
  box-shadow:inset 0px 1px 3px 0px #274352;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #24a1c7), color-stop(1, #0e48ad));
  background:-moz-linear-gradient(top, #24a1c7 5%, #0e48ad 100%);
  background:-webkit-linear-gradient(top, #24a1c7 5%, #0e48ad 100%);
  background:-o-linear-gradient(top, #24a1c7 5%, #0e48ad 100%);
  background:-ms-linear-gradient(top, #24a1c7 5%, #0e48ad 100%);
  background:linear-gradient(to bottom, #24a1c7 5%, #0e48ad 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#24a1c7', endColorstr='#0e48ad',GradientType=0);
  background-color:#24a1c7;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  border:1px solid #1e3957;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  text-decoration:none;
  text-shadow:0px -1px 0px #17336b;
  padding: 10px 10px;
  display: inline-block;
  margin-top: 2px;
}

.button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0e48ad), color-stop(1, #24a1c7));
  background:-moz-linear-gradient(top, #0e48ad 5%, #24a1c7 100%);
  background:-webkit-linear-gradient(top, #0e48ad 5%, #24a1c7 100%);
  background:-o-linear-gradient(top, #0e48ad 5%, #24a1c7 100%);
  background:-ms-linear-gradient(top, #0e48ad 5%, #24a1c7 100%);
  background:linear-gradient(to bottom, #0e48ad 5%, #24a1c7 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e48ad', endColorstr='#24a1c7',GradientType=0);
  background-color:#0e48ad
}

a.button {
  font-size: 20px;
}

.nav {
  background-color: transparent;
  color: black;
  font-size: 18px;
  border-radius: 0px;
  text-decoration: none;
  padding: 10px 10px;
}

.nav:hover {
  color: white;
}

.account-container {
  background: #FFFFFF;
  border-radius: 5px;
  margin: 50px auto;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  padding: 30px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.14);
}

.account-container input[type="text"],
.account-container input[type="number"],
.account-container input[type="password"],
.account-container textarea,
.account-container select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    height: 45px;
}

.account-container h3{
    background: -webkit-linear-gradient(left top, #3399ff, #97b9ef); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #3399ff, #97b9ef); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #3399ff, #97b9ef); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #3399ff, #97b9ef); /* Standard syntax */
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
 
input[type="submit"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #67C9F6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #67C9F6;
    box-shadow: inset 0px 1px 0px 0px #67C9F6;
    background-color: #67C9F6;
    border: 1px solid #67C9F6;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 16px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}

input[value="Delete"],
input[value="Edit"] {
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  border:1px solid #0f1a16;
  cursor:pointer;
  color:#ffffff;
  font-size:15px;
  font-weight:bold;
  text-decoration:none;
}

input[value="Delete"] {
  -moz-box-shadow:inset 0px 1px 3px 0px #522626;
  -webkit-box-shadow:inset 0px 1px 3px 0px #522626;
  box-shadow:inset 0px 1px 3px 0px #522626;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e33939), color-stop(1, #a32c2c));
  background:-moz-linear-gradient(top, #e33939 5%, #a32c2c 100%);
  background:-webkit-linear-gradient(top, #e33939 5%, #a32c2c 100%);
  background:-o-linear-gradient(top, #e33939 5%, #a32c2c 100%);
  background:-ms-linear-gradient(top, #e33939 5%, #a32c2c 100%);
  background:linear-gradient(to bottom, #e33939 5%, #a32c2c 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e33939', endColorstr='#a32c2c',GradientType=0);
  background-color:#e33939;
  text-shadow:0px -1px 0px #59223f;
}

input[value="Delete"]:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a32c2c), color-stop(1, #e33939));
  background:-moz-linear-gradient(top, #a32c2c 5%, #e33939 100%);
  background:-webkit-linear-gradient(top, #a32c2c 5%, #e33939 100%);
  background:-o-linear-gradient(top, #a32c2c 5%, #e33939 100%);
  background:-ms-linear-gradient(top, #a32c2c 5%, #e33939 100%);
  background:linear-gradient(to bottom, #a32c2c 5%, #e33939 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a32c2c', endColorstr='#e33939',GradientType=0);
  background-color:#a32c2c;
}

input[value="Edit"] {
  -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
  -webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
  box-shadow:inset 0px 1px 3px 0px #91b8b3;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9BB5B0), color-stop(1, #5b6969));
  background:-moz-linear-gradient(top, #9BB5B0 5%, #5b6969 100%);
  background:-webkit-linear-gradient(top, #9BB5B0 5%, #5b6969 100%);
  background:-o-linear-gradient(top, #9BB5B0 5%, #5b6969 100%);
  background:-ms-linear-gradient(top, #9BB5B0 5%, #5b6969 100%);
  background:linear-gradient(to bottom, #9BB5B0 5%, #5b6969 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9BB5B0', endColorstr='#5b6969',GradientType=0);
  background-color:#9BB5B0;
  text-shadow:0px -1px 0px #2b665e;
}

input[value="Edit"]:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5b6969), color-stop(1, #798a86));
  background:-moz-linear-gradient(top, #5b6969 5%, #798a86 100%);
  background:-webkit-linear-gradient(top, #5b6969 5%, #798a86 100%);
  background:-o-linear-gradient(top, #5b6969 5%, #798a86 100%);
  background:-ms-linear-gradient(top, #5b6969 5%, #798a86 100%);
  background:linear-gradient(to bottom, #5b6969 5%, #798a86 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5b6969', endColorstr='#798a86',GradientType=0);
  background-color:#5b6969;
}

.account-container input[type="button"]:hover, 
.account-container input[type="submit"]:hover,
#threshold-form input[type="submit"]:hover {
  background-color: #57B1DA;
}

.form {
  margin-bottom: 100px;
}

nav {
  display: flex;
  justify-content: flex-end;
  background: #3399ff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #3399ff, #97b9ef); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #3399ff, #97b9ef); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #3399ff, #97b9ef); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #3399ff, #97b9ef); /* Standard syntax */
}

#home {
  color: black;
  font-size: 20px;
  position: absolute;
  left: 0%;
  text-decoration: none;
  background-color: transparent;
}

#user-header {
  width: 100%;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-top: 0px;
  padding-top: 20px;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.14);
}

.reservoir-list {
  margin: auto;
  text-align: center;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.14);
}

#add-reservoir-container {
  text-align: center;
  align-items: center;
  margin: 50px 15px;
}

#add-reservoir-btn:hover {
  background-color: #2482D8;
}

#threshold-form {
  text-align: center;
}

#threshold-form input[type="submit"] {
  margin-top: 10px;
}

#new-reservoir-container, #edit-reservoir-container {
  text-align: left;
  background: white;
  border-radius: 10px;
  border: 3px solid #3399ff;
  padding: 15px;
  margin: auto;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.20);
}

#new-reservoir-container input[type="text"],
#edit-reservoir-container input[type="text"] {
  width: 12%;
}

table, th, td {
  border: 1px solid black;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: white;
}
tr:nth-child(odd) {
  background-color: lightgrey;
}





