/*body {
  margin-left: 20px;
  margin-bottom: 10px;
}*/

h1 {
  font-family: "Helvetica", Times, serif;
  font-size: 3em;
  font-weight: bold
}

.reservoir-list {
  margin: 20px;
  font: normal bold 1em sans-serif;
}

table, th, td {
  border: 1px solid black;
  padding: 10px;
}

label, select, p {
  padding: 5px;
  font-size: 18px;
  margin-left: 20px;
  margin-bottom: 10px;
  display: block;
}

.session-button {
  /*float: left;*/
}

tr:nth-child(even) {background-color: #f2f2f2}
