body, html {
    height: 100%;
    font-family: "Arial", sans-serif;
    font-weight: bold;
}

#main-title {
  font-size: 5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main-container {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/water-life-crop.jpg");
  z-index: -1;
  min-height: 100%;
  text-align: center;
}

#main-container:after {
  content: "";
  display: block;
}

.main-footer, #main-container:after {
  height: 80px;
}

.button {
  background-color: #3399ff;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 6px 4px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
}

.session {
  background-color: transparent;
  color: black;
  font-size: 24px;
}

.account-container {
  background: #FFFFFF;
  border-radius: 5px;
  border: 6px solid #3399ff;
  margin: 50px auto;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  padding: 30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22)
}

.account-container input[type="text"],
.account-container input[type="number"],
.account-container input[type="password"],
.account-container textarea,
.account-container select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}

.account-container h3{
    background: #3399ff;
    color: black;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}

.account-container input[type="button"], 
.account-container input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #67C9F6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #67C9F6;
    box-shadow: inset 0px 1px 0px 0px #67C9F6;
    background-color: #67C9F6;
    border: 1px solid #67C9F6;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.button:hover {
  background-color: #3399ff;
  color: white;
}


.form {
  margin-bottom: 100px;
}

header, footer {
  display: flex;
  justify-content: flex-end;
  background: #3399ff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #3399ff, #97b9ef); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #3399ff, #97b9ef); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #3399ff, #97b9ef); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #3399ff, #97b9ef); /* Standard syntax */
}

#home {
  position: absolute;
  left: 0%;
  text-decoration: none;
  background-color: transparent;
}

#user-header {
  width: 100%;
}

h1 {
  font-family: "Arial", Times, serif;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.reservoir-list {
  margin: auto;
  text-align: center;
  font: normal bold 1em sans-serif;
}

.reservoir-container {
 /* height: auto;
  max-height: 600px;*/
  /*overflow: auto;*/
  /*margin-bottom: 25px;*/
}

#caption {
  text-align: center;
}

#add-reservoir-container {
  text-align: center;
  margin-bottom: 50px;
}

table, th, td {
  border: 1px solid black;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: white;
}
tr:nth-child(odd) {
  background-color: lightgrey;
}