<select name="reservoir_name" form="threshold-form">
  <!-- If reservoir isn't already in the user's reservoirs, list it -->
  <option selected disabled>Select reservoir</option>
  <% @reservoirs.each do |reservoir| %>
    <% if !@user.reservoirs.include?(reservoir) %>
      <option value="<%= reservoir.name %>"><%= reservoir.name %></option>
    <% end %>
  <% end %>
</select>

<form id="threshold-form" action="/reservoirs" method="POST">
  <label for="minimum_threshold">Minimum %:</label>
  <input type="text" name="minimum_threshold" placeholder="Optional">
  <label for="maximum_threshold">Maximum %:</label>
  <input type="text" name="maximum_threshold" placeholder="Optional">
  <input type="submit">
</form>
