
<div class="reservoir-container">
<h1>All Reservoirs</h1>
  <table class="reservoir-list">
  <tr>
    <th>Name</th>
    <th>Storage(AF)</th>
    <th>Capacity(AF)</th>
    <th>% Capacity</th>
  </tr>
  <% @reservoirs.each do |reservoir| %>

    <article id=<% reservoir.id %>>
      <tr>
        <td><%= reservoir.name %></td>
        <td><%= reservoir.storage %></td>
        <td><%= reservoir.capacity %></td>
        <td><%= reservoir.percent_capacity %></td>
      </tr>

      <% end %>
    </article>
  </table>

</div>
