<% if @errors %>
  <% @errors.each do |error| %>
    <%= error.full_messages %>
  <% end %>
<% end %>

<p>Select a reservoir and a minimum or maximum threshold. If the reservoir capacity goes below the minimum threshold or above the maximum threshold, a notification will be sent to you.</p>

<select name="reservoir_name" form="add-reservoir">
  <!-- If reservoir isn't already in the user's reservoirs, list it -->
  <% @reservoirs.each do |reservoir| %>
    <% if !@user.reservoirs.include?(reservoir) %>
      <option value="<%= reservoir.name %>"><%= reservoir.name %></option>
    <% end %>
  <% end %>
  
</select>

<form id="add-reservoir" action="/reservoirs" method="POST">
  Minimum:<input type="text" name="floor_capacity" placeholder="Optional">
  Maximum:<input type="text" name="ceiling_capacity" placeholder="Optional">  
  <input type="submit">
</form>

