<% if current_user %>
  <a class="session button" href="/users/<%= current_user.id %> ">My Reservoirs</a>
  <form id="logout-button" action="/sessions" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input class="session button" type="submit" value="Logout">
  </form>
<% else %>
  <a class="session button" href="/sessions/new">Login</a>
  <a class="session button" href="/users/new">Register</a>
<% end %>
