<h1>Welcome to Res2Go</h1>

<div id="welcome-container">
  <p>This web app allows you to track any California reservoir's water level. If the reservoir level falls below or rises above the percentage set by you, a text notification can be sent. Please create an account to get started.</p>

  <div class="register-container">
    <a id="register-button" class="button" href="/users/new">Sign Up</a>
  </div>

</div>

